In [1]:
import pandas as pd

In [2]:
obj = pd.Series([1,3,5,-1])

In [3]:
obj

0    1
1    3
2    5
3   -1
dtype: int64

In [4]:
obj.values

array([ 1,  3,  5, -1], dtype=int64)

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
obj2 = pd.Series([4,7,-5,3], index=['d','b','a','c'])

In [7]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [8]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [9]:
obj2['a']

-5

In [10]:
obj2[['c','a']]

c    3
a   -5
dtype: int64

In [11]:
obj[[1,3]]

1    3
3   -1
dtype: int64

In [12]:
obj2[obj2>0]

d    4
b    7
c    3
dtype: int64

In [13]:
obj2*2

d     8
b    14
a   -10
c     6
dtype: int64

In [14]:
import numpy as np
np.exp(obj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [15]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [16]:
'b' in obj2

True

In [17]:
3 in obj2

False

In [18]:
'e' in obj2

False

In [19]:
sdata = {'Ohio' : 35000, 'Texas' : 71000, 'Oregon' : 16000, 'Utah' : 5000}

In [20]:
obj3 = pd.Series(sdata)

In [21]:
obj3

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [22]:
sdata

{'Ohio': 35000, 'Oregon': 16000, 'Texas': 71000, 'Utah': 5000}

In [23]:
states = ["California", 'Ohio', "Oregon", 'Texas']

In [24]:
obj4 = pd.Series(sdata, index = states)

In [25]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [26]:
obj4['California'] == None

False

In [27]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [ ]:
s = pd.Series(np.random.randint(0,1000,10000))
s.head()

In [ ]:
obj4.dtype()